<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Travel00</title>

  <link rel="stylesheet" href="style.css" />
  <style>
    @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
}

  </style>
</head>

<body>
  <% for(var i=0;i<k.length;i++) { %>
  <div class="grid">
    <div class="grid-item">
      <div class="card">
        <img class="card-img" src="<%= g[k[i].place_id].image %>" alt="Rome" />
        <div class="card-content">
          <h1 class="card-header">Place name: <%= k[i].name %></h1>
          <p class="card-text">
            Place Adress: <%= k[i].address %>
          </p>
          <p class="card-text">
            Start Date: <%= k[i].start_date.slice(0,10) %>
          </p>
          <p class="card-text">
            End date: <%= k[i].end_dateslice(0,10) %>
          </p>
          <p class="card-text">
            Amount: <%= k[i].amount %>
          </p>
          <p class="card-text">
            Tour Guide Name: <%= k[i].guide_name %>
          </p>
          <p class="card-text">
            Tour Guide Contact: <%= k[i].guide_contact %>
          </p>
          <button class="card-btn">Happy Tour!!</button>
        </div>
      </div>
    </div>
    <% } %>

  </div>
</body>

</html>